# Supabase Configuration
# Dapatkan dari Supabase Dashboard > Project Settings > API
VITE_SUPABASE_URL="https://shgxkjtzoaapwvuhlekl.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoZ3hranR6b2FhcHd2dWhsZWtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4NzE1MTQsImV4cCI6MjEwNDQ0NzUxNH0.Cy5vffdwA0rM-L6PHMTyqvxBZxqwCNIMmydtgAhEt90"
